@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*Estilos para botones de editar y eliminar*/

.fa-user-gear:hover{
    color: rgb(0, 171, 66);
}
.fa-trash:hover{
    color: rgb(255, 40, 40);
}
.fa-solid{
    padding: 0px;
}
/*Estilos para boton de archivos*/

.file input{
display: none;
}
.file label{
    text-align: center;
    color: white;
    display: block;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: gray;
    cursor: pointer;
}
.file:hover label{
    background-color: rgb(76, 76, 76);
}